/* stylelint-disable */
.titulo-top-mayu {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    color: #3b3b3b;
    text-transform: uppercase;
}

.title-prin {
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
    color: #3b3b3b;
    font-family: "Exo 2", Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-bottom: 40px;
}

@media (width >= 1024px) {
    .title-prin {
        font-size: 40px;
    }
}

.r4-text {
    font-family: "Open Sans";
    color: var(--Colors-Neutral-TextDark, #0b0b0b);
    font-weight: 400;
    font-style: normal;
}

.r4-text.align-center {
    text-align: center;
}

.r4-text.size-small {
    font-size: 14px;
    font-style: normal;
    line-height: var(--Typography-Line-Height-LineHeightSmall, 22px);

    /* 157.143% */
}

.r4-text.size-medium {
    /* Medium/Normal */
    font-size: 16px;
    line-height: var(--Typography-Line-Height-LineHeightMedium, 24px);

    /* 150% */
}

.r4-text.size-large {
    /* Large/Normal */
    font-size: 18px;
    line-height: var(--Typography-Line-Height-LineHeightLarge, 24px);

    /* 133.333% */
}

.r4-text.size-extra-large {
    font-size: 20px;
    line-height: var(--Typography-Line-Height-LineHeightExtraLarge, 28px);

    /* 140% */
}

.r4-text.size-xx-large {
    font-size: 24px;
    line-height: var(--Typography-Line-Height-LineHeightXXLarge, 32px);

    /* 133.333% */
}

.r4-text.size-xxx-large {
    font-size: 28px;
    line-height: var(--Typography-Line-Height-LineHeightXXLarge, 32px);

    /* 133.333% */
}

.r4-text.style-semi-strong {
    font-weight: 600;
}

.r4-text.style-strong {
    font-weight: 700;
}

.r4-text.style-extra-strong {
    font-weight: 800;
}

.r4-text.style-italic {
    font-style: italic;
}

.r4-text.style-underline {
    text-decoration: underline;
}

.r4-text.style-strikethrough {
    text-decoration: line-through;
}

.r4-link {
    color: var(--Interaction-Link-Link, #851a2e);
    text-decoration: underline;
    cursor: pointer;
}

.r4-link:hover {
    color: #c15363;
}

a.r4-button,
a.r4-button.type-primary,
a.r4-button.type-secondary,
a.r4-button.type-text {
    text-decoration: none;
}

a.r4-button:hover,
a.r4-button.type-primary:hover,
a.r4-button.type-secondary:hover,
a.r4-button.type-text:hover {
    text-decoration: none;
}

a.r4-button.type-primary:hover {
    color: #fff;
}

.r4-button {
    display: inline-flex;
    padding: 8px var(--Components-Button-Component-paddingInlineLG, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: var(--Interaction-Button-Primary-Text, #fff);
    user-select: none;
    flex-flow: nowrap;
    gap: 8px;

    /* Large/Bold */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    line-height: var(--Typography-Line-Height-LineHeightLarge, 24px);

    /* 133.333% */
}

.r4-button.width-100 {
    width: 100%;
}

.r4-button.type-primary {
    background: #851a2e;
    border: var(--Components-Button-Global-lineWidth, 1px) solid var(--Components-Button-Global-colorPrimaryHover, #851a2e);
    font-weight: 700;
    color: var(--Interaction-Button-Primary-Text, #fff);
}

.r4-button.type-primary:hover {
    border: var(--Components-Button-Global-lineWidth, 1px) solid var(--Interaction-Button-Primary-BorderHover, #c15363);
    background: var(--Interaction-Button-Primary-BgHover, #c15363);
}

.r4-button.type-secondary , main .section.bg-black a.button.primary {
    border: 1px solid var(--Interaction-Button-Secondary-Border, #fff);
    background: var(--Interaction-Button-Secondary-Bg, #fff);
    color: #fff;
    font-weight: 700;
}

.r4-button.type-secondary:hover , main .section.bg-black a.button.primary:hover{
    border: 1px solid var(--Interaction-Button-Secondary-BorderHover, #c15363);
    background: var(--Interaction-Button-Secondary-BgHover, #fff);
    color: var(--Interaction-Button-Secondary-TextHover, #c15363);
}

.r4-button.type-text {
    background: none;
    border: none;
    color: var(--Interaction-Button-Text-Text, #851a2e);
    text-decoration: underline;
}

.r4-button.type-text:hover {
    color: var(--Interaction-Link-LinkHover, #c15363);
}

.r4-button.size-medium {
    height: var(--Components-Button-Global-controlHeight, 32px);
    padding: 0 12px;
    font-size: var(--Typography-Text-TextMedium, 16px);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--Typography-Line-Height-LineHeightMedium, 22px);

    /* 137.5% */
}

.r4-button.size-medium svg {
    width: 16px;
    height: 16px;
}

.r4-title {
    font-family: "Exo 2";
    color: var(--Colors-Neutral-TextDark, #0b0b0b);
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0 !important;
}

.r4-title.align-center {
    text-align: center;
}

.r4-title.size-medium {
    font-size: 28px;
    line-height: 38px;

    /* 135.714% */
}

@media (width >= 600px) {
    .r4-title.size-medium {
        font-size: 32px;
        line-height: 42px;

        /* 131.25% */
    }
}

.r4-title.size-large {
    font-size: 40px;
    line-height: 50px;

    /* 125% */
}

@media (width >= 600px) {
    .r4-title.size-large {
        font-size: 48px;
        line-height: 58px;

        /* 120.833% */
    }
}

.r4-faq .r4-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    border-bottom: 1px solid #5a5a5a;
    cursor: pointer;
}

.r4-faq .r4-faq-question:hover {
    border-color: #851a2e;
}

.r4-faq .r4-faq-question svg {
    color: #851a2e;
}

.r4-faq .r4-faq-answer {
    padding: 20px 12px;
}

.r4-tag {
    display: inline-flex;
    padding: 1px var(--Space-Padding-controlPaddingHorizontalSM, 8px);
    border-radius: var(--Border-Radius-borderRadiusLG, 8px);
    align-items: center;
    gap: 4px;
    font-family: "Open Sans", sans-serif;
    color: #0b0b0b !important;
}

.r4-tag:hover {
    color: #0b0b0b !important;
}

.r4-tag.variant-primary {
    background: var(--Colors-Base-Primary-BgLight, #f6d1d8);
}

.r4-tag.variant-blue {
    background: var(--Colors-Supporting-Blue-BgLight, #e3eff7);
}

.r4-tag.variant-green {
    background: var(--Colors-Supporting-Green-BgLight, #e3f2e9);
}

.r4-tag.variant-red {
    background: var(--Colors-Supporting-Red-BgLight, #fceef0);
}

.r4-tag.variant-neutral {
    background: var(--Colors-Neutral-BgDark, #e0e0e0);
}

.r4-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

@media (width >= 600px) {
    .r4-container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (width >= 1024px) {
    .r4-container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (width >= 1176px) {
    .r4-container {
        max-width: 1176px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (width >= 1440px) {
    .r4-container {
        max-width: 1440px;
        padding-right: 0;
        padding-left: 0;
    }
}

:root {
    --Colors-Base-Primary-BgLight: #F6D1D8;
}

.segmented-controls {
    display: flex;
    padding: 0;
    gap: var(--Space-Margin-marginXXS, 4px);
    align-self: stretch;
    border-radius: 8px;
    background: var(--Colors-Neutral-BgLight, #f7f7f7);
    height: max-content;
    user-select: none;
}

.segmented-controls .control {
    display: flex;
    padding: var(--Space-Margin-marginXXS, 4px) var(--Space-Padding-paddingExtraSmall, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Space-Margin-marginXXS, 4px);
    align-self: stretch;
    border-radius: 8px;
    background: var(--Colors-Neutral-BgLight, #f7f7f7);
    cursor: pointer;
    color: var(--Colors-Neutral-TextDark, #0b0b0b);

    /* Small/SemiBold */
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Typography-Line-Height-LineHeightSmall, 20px);

    /* 142.857% */
}

.segmented-controls .control.is-active {
    border-radius: 8px;
    background: var(--Colors-Base-Primary-BgLight, #f6d1d8);
}

.segmented-controls .control.is-active:hover {
    background: var(--Colors-Supporting-Red-BgDark, #f4c4cb);
}

.segmented-controls .control:hover {
    border-radius: 8px;
    background: var(--Colors-Base-Primary-BgLight, #f6d1d8);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.r4-article-card {
    display: flex;
    gap: 12px;
}

.r4-article-card .r4-article-card-image img {
    border-radius: 50%;
}

.r4-article-card .r4-article-card-content > *:not(:last-child) {
    margin-bottom: 8px;
}

.r4-article-card .r4-article-card-content-first-line {
    display: flex;
}

.align-center {
    text-align: center;
}

.r4-style-vertical-spacing-lg > *:not(:last-child) {
    margin-bottom: 24px !important;
}

.r4-style-vertical-spacing-xl > *:not(:last-child) {
    margin-bottom: 32px !important;
}

@media (width >= 600px) {
    .r4-grid-3-3-3-3 {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        gap: 24px;
    }
}

@media (width >= 600px) {
    .r4-grid-6-6 {
        display: grid;
        grid-template-columns: 6fr 6fr;
        gap: 24px;
    }
}

@media (width >= 600px) {
    .r4-grid-4-8 {
        display: grid;
        grid-template-columns: 4fr 8fr;
        gap: 24px;
    }
}

@media (width >= 600px) {
    .r4-grid-4-6 {
        display: grid;
        grid-template-columns: 4fr 2fr 6fr;
        gap: 24px;
    }

    .r4-grid-4-6 > *:first-child {
        grid-column: 1 / 2;
    }

    .r4-grid-4-6 > *:nth-child(2) {
        grid-column: 3 / 4;
    }
}

@media (width >= 600px) {
    .r4-grid-6-4 {
        display: grid;
        grid-template-columns: 6fr 2fr 4fr;
        gap: 24px;
    }

    .r4-grid-6-4 > *:first-child {
        grid-column: 1 / 2;
    }

    .r4-grid-6-4 > *:nth-child(2) {
        grid-column: 3 / 4;
    }
}

@media (width >= 600px) {
    .r4-grid-8-4 {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 24px;
    }
}

@media (width >= 600px) {
    .r4-grid-8 {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        gap: 24px;
        align-items: anchor-center;
    }

    .r4-grid-8 > *:first-child {
        grid-column: 2 / 3;
    }
}

@media (width >= 600px) {
    .r4-grid-3-3-3 {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        gap: 24px;
    }
}

.r4-aem-component {
    padding: 48px 0;
}

.r4-image {
    max-width: 100%;
    height: auto;
}

.r4-card {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background: #FFF;
    padding: 24px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.img-width-100 {
    width: 100%;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.r4-ventaja {
    display: flex;
    align-items: center;
    gap: 16px;
}

.r4-ventaja svg {
    color: #851a2e;
    width: 40px;
    height: 40px;
}
/* stylelint-enable */
