/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url("design-system.css");

:root {
    --primary: #007bff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1176px;
    --breakpoint-xl: 1440px;
    --padding-side-xs: 12px;
    --padding-side-sm: 24px;
    --padding-side-md: 24px;
    --padding-side-lg: 0;
    --padding-side-xl: 0;
    --maxwidth-lg: 1112px;
    --maxwidth-xl: 1368px;
    --color-header-hover: #707070;
    --color-header-text-hover: #fff;
    --header-height: 30px;

  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #3b3b3b;
  --link-color: #8c2f3f;
  --link-hover-color: #1d3ecf;
    --color-red:#752e3b;
    --color-dark:#3B3B3B;

  /* fonts */

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 0px;
    --color-primary: #8c2f3f;
    --color-primary-hover: #752e3b;
    --color-primary-disabled: #dc96a5;
    --color-bg: #752e3b;
    --color-bg2: #a5555f;
    --color-header: #000;
    --color-logo-header: #3b3b3b;
    --color-header-active: #fff;
    --color-header-text-active: #3b3b3b;
    --breakpoint-sm-down: calc(600px - 0.1px);
    --breakpoint-md-down: calc(1024px - 0.1px);
    --breakpoint-lg-down: calc(1176px - 0.1px);
    --breakpoint-xl-down: calc(1440px - 0.1px);
    --spacing-padding-xxs: 4px;
    --spacing-padding-xs: 8px;
    --spacing-padding-sm: 12px;
    --spacing-padding: 12px;
    --spacing-padding-md: 20px;
    --spacing-padding-lg: 24px;
    --spacing-padding-xl: 32px;
    --spacing-padding-xxl: 60px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width <= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 16px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

a {
  text-decoration: none;
}


p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: .5em;
  margin-bottom: 0.5em;
}

em a{
    font-style: normal;
}

a:hover,
a:focus {
  text-decoration: inherit;
}


code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: var(--breakpoint-xl);
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.bg-red{
     background-color: var(--color-red);
     margin: 0;
     padding: 40px 0;
    color: white;
 }

main .section.bg-black{
    background-color: var(--color-dark);
    color: #fff;
    margin: 0;
    padding: 40px 0;
}

main .section.bg-black a.button.primary {
    background: none ;
}

footer.footer-wrapper:has(.bg-red) {
    background-color: var(--color-red);
    color: white;
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
}

ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}

.highlight-h2 h2{
    font-size: 40px;
    margin-bottom: 0;
}

.highlight-h2 p{
    margin-top: 0;
}

@media (width >= 900px) {
    .highlight-h2 h2 {
       font-size: 60px;
    }
}
