/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url("design-system.css");

:root {
    --primary: #007bff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1176px;
    --breakpoint-xl: 1440px;
    --padding-side-xs: 12px;
    --padding-side-sm: 24px;
    --padding-side-md: 24px;
    --padding-side-lg: 0;
    --padding-side-xl: 0;
    --maxwidth-lg: 1112px;
    --maxwidth-xl: 1368px;
    --color-header-hover: #707070;
    --color-header-text-hover: #fff;
    --header-height: 30px;

  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #3b3b3b;
  --link-color: #8c2f3f;
  --link-hover-color: #1d3ecf;
    --color-red:#752e3b;
    --color-dark:#3B3B3B;

  /* fonts */
  --body-font-family: 'open sans', roboto-fallback, sans-serif;
  --heading-font-family: "Exo 2", arial, helvetica, sans-serif;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 0px;
    --color-primary: #8c2f3f;
    --color-primary-hover: #752e3b;
    --color-primary-disabled: #dc96a5;
    --color-bg: #752e3b;
    --color-bg2: #a5555f;
    --color-header: #000;
    --color-logo-header: #3b3b3b;
    --color-header-active: #fff;
    --color-header-text-active: #3b3b3b;
    --breakpoint-sm-down: calc(600px - 0.1px);
    --breakpoint-md-down: calc(1024px - 0.1px);
    --breakpoint-lg-down: calc(1176px - 0.1px);
    --breakpoint-xl-down: calc(1440px - 0.1px);
    --spacing-padding-xxs: 4px;
    --spacing-padding-xs: 8px;
    --spacing-padding-sm: 12px;
    --spacing-padding: 12px;
    --spacing-padding-md: 20px;
    --spacing-padding-lg: 24px;
    --spacing-padding-xl: 32px;
    --spacing-padding-xxl: 60px;

    /* colors */
    --colors-neutral-bg-light: #fff;
    --colors-neutral-bg-dark: #E0E0E0;
    --colors-neutral-border: #5A5A5A;
    --colors-neutral-text-light: #707070;
    --colors-neutral-text-dark: #0B0B0B;
    --colors-primary-bg-light: #F6D1D8;
    --colors-primary-bg-dark: #C15363;
    --colors-primary-text: #851A2E;
    --colors-primary-border: #6A1525;
    --colors-secondary-bg-light: #FAE8D9;
    --colors-secondary-bg-dark: #F3C59F;
    --colors-secondary-border: #D5A782;
    --colors-secondary-text: #5E310C;
    --color-secondary-bg: #F7F7F7;
    --colors-supporting-red-bg-light: #FCEEF0;
    --colors-supporting-red-bg-dark: #F4C4CB;
    --colors-supporting-red-border: #BC5766;
    --colors-supporting-red-text: #95434F;
    --colors-supporting-green-bg-light: #E3F2E9;
    --colors-supporting-green-bg-dark: #AFDBC2;
    --colors-supporting-green-border: #2D8552;
    --colors-supporting-green-text: #22643D;
    --colors-supporting-brown-bg-light: #FBF1EA;
    --colors-supporting-brown-bg-dark: #F2D3BE;
    --colors-supporting-brown-border: #B5764A;
    --colors-supporting-brown-text: #8B5A38;
    --colors-supporting-blue-bg-light: #E3EFF7;
    --colors-supporting-blue-bg-dark: #ACD1E9;
    --colors-supporting-blue-border: #26709F;
    --colors-supporting-blue-text: #1D5477;
    --colors-status-error-bg-light: #FFE2E3;
    --colors-status-error-bg-dark: #F0B5B7;
    --colors-status-error-text: #B60306;
    --colors-status-error-border: #920205;
    --colors-status-success-bg-light: #E8F6E0;
    --colors-status-success-bg-dark: #D8EBCE;
    --colors-status-success-text: #498529;
    --colors-status-success-border: #256603;
    --colors-status-warning-bg-light: #FEF4E5;
    --colors-status-warning-bg-dark: #FFEDD0;
    --colors-status-warning-text: #D0800A;
    --colors-status-warning-border: #A66608;
    --colors-status-info-bg-light: #F6F9FE;
    --colors-status-info-bg-dark: #E6EEF9;
    --colors-status-info-border: #1A65C6;
    --colors-status-info-text: #15519E;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width <= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 16px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }

h4 { font-size: var(--heading-font-size-s);  }

h5 {     font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    color: #3b3b3b;
    margin-bottom: 10px;
}
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: .5em;
  margin-bottom: 0.5em;
}

em a{
    font-style: normal;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: underline;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    text-align: left;
    font-family: 'Open Sans','Segoe UI','Helvetica Neue',Arial,sans-serif;
    line-height: 24px;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    background-color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    color: #fff;
    display: inline-block;
    padding: 10px 24px;
    text-transform: uppercase;
    font-size: 16px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  /* background-color: var(--link-hover-color); */
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-primary);
    line-height: 22px;
    font-size: 16px;
    display: inline-block;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: var(--breakpoint-xl);
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.bg-red{
     background-color: var(--color-red);
     margin: 0;
     padding: 40px 0;
    color: white;
 }

main .section.bg-black{
    background-color: var(--color-dark);
    color: #fff;
    margin: 0;
    padding: 40px 0;
}

main .section.bg-black a.button.primary {
    background: none ;
}

footer.footer-wrapper:has(.bg-red) {
    background-color: var(--color-red);
    color: white;
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
}

ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}

.highlight-h2 h2{
    font-size: 40px;
    margin-bottom: 0;
}

.highlight-h2 p{
    margin-top: 0;
}

@media (width >= 900px) {
    .highlight-h2 h2 {
       font-size: 60px;
    }
}
