/* stylelint-disable */
:root {
  --prm-bglight: #f6d1d8;
  --prm-bgdark: #c15363;
  --prm-text: #851a2e;
  --prm-border: #6a1525;
  --snd-bglight: #fae8d9;
  --snd-bgdark: #f3c59f;
  --snd-border: #d5a782;
  --snd-text: #5e310c;
  --neutral-bglight: #ffffff;
  --neutral-bgdark: #e0e0e0;
  --neutral-border: #5a5a5a;
  --neutral-textlight: #707070;
  --neutral-textdark: #0b0b0b;
  --buttons-primary_bg: #851a2e;
  --buttons-primary_bghover: #c15363;
  --buttons-primary_bgpressed: #c15363;
  --buttons-primary_disabled: #5a5a5a;
  --complementary-red: #752e3b;
  --complementary-transparent: rgba(255, 255, 255, 0);
}
und {
  text-decoration: underline;
}
mid {
  text-decoration: line-through;
}
ovl {
  text-align: overline;
}
bold {
  font-weight: bold;
}
italic {
  font-style: italic;
}
/* Typography Styles */
.text-h1-extralarge {
  font-family: exo2 !important;
  font-size: 128px !important;
  font-weight: 800 !important;
  line-height: 138.0px !important;
}
@media (max-width: 1024px) {
  .text-h1-extralarge--tablet {
    font-family: exo2 !important;
    font-size: 128px !important;
    font-weight: 800 !important;
    line-height: 138.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h1-extralarge--mobile {
    font-family: exo2 !important;
    font-size: 128px !important;
    font-weight: 800 !important;
    line-height: 138.0px !important;
  }
}
.text-h1-large,
h1 {
  font-family: exo2 !important;
  font-size: 48px !important;
  font-weight: 800 !important;
  line-height: 58.0px !important;
}
@media (max-width: 1024px) {
  .text-h1-large--tablet {
    font-family: exo2 !important;
    font-size: 48px !important;
    font-weight: 800 !important;
    line-height: 58.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h1-large--mobile {
    font-family: exo2 !important;
    font-size: 48px !important;
    font-weight: 800 !important;
    line-height: 58.0px !important;
  }
}
.text-h1-medium {
  font-family: exo2 !important;
  font-size: 32px !important;
  font-weight: 800 !important;
  line-height: 42.0px !important;
}
@media (max-width: 1024px) {
  .text-h1-medium--tablet {
    font-family: exo2 !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 42.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h1-medium--mobile {
    font-family: exo2 !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 42.0px !important;
  }
}
.text-h1-small {
  font-family: exo2 !important;
  font-size: 24px !important;
  font-weight: 800 !important;
  line-height: 34.0px !important;
}
@media (max-width: 1024px) {
  .text-h1-small--tablet {
    font-family: exo2 !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 34.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h1-small--mobile {
    font-family: exo2 !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 34.0px !important;
  }
}
.text-h2-extralarge {
  font-family: exo2 !important;
  font-size: 96px !important;
  font-weight: 800 !important;
  line-height: 106.0px !important;
}
@media (max-width: 1024px) {
  .text-h2-extralarge--tablet {
    font-family: exo2 !important;
    font-size: 96px !important;
    font-weight: 800 !important;
    line-height: 106.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h2-extralarge--mobile {
    font-family: exo2 !important;
    font-size: 96px !important;
    font-weight: 800 !important;
    line-height: 106.0px !important;
  }
}
.text-h2-large,
h2 {
  font-family: exo2 !important;
  font-size: 36px !important;
  font-weight: 800 !important;
  line-height: 46.0px !important;
}
@media (max-width: 1024px) {
  .text-h2-large--tablet {
    font-family: exo2 !important;
    font-size: 36px !important;
    font-weight: 800 !important;
    line-height: 46.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h2-large--mobile {
    font-family: exo2 !important;
    font-size: 36px !important;
    font-weight: 800 !important;
    line-height: 46.0px !important;
  }
}
.text-h2-medium {
  font-family: exo2 !important;
  font-size: 28px !important;
  font-weight: 800 !important;
  line-height: 38.0px !important;
}
@media (max-width: 1024px) {
  .text-h2-medium--tablet {
    font-family: exo2 !important;
    font-size: 28px !important;
    font-weight: 800 !important;
    line-height: 38.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h2-medium--mobile {
    font-family: exo2 !important;
    font-size: 28px !important;
    font-weight: 800 !important;
    line-height: 38.0px !important;
  }
}
.text-h2-small {
  font-family: exo2 !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  line-height: 28.0px !important;
}
@media (max-width: 1024px) {
  .text-h2-small--tablet {
    font-family: exo2 !important;
    font-size: 20px !important;
    font-weight: 800 !important;
    line-height: 28.0px !important;
  }
}
@media (max-width: 768px) {
  .text-h2-small--mobile {
    font-family: exo2 !important;
    font-size: 20px !important;
    font-weight: 800 !important;
    line-height: 28.0px !important;
  }
}
.text-h3-extralarge {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h3-extralarge--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h3-extralarge--mobile {
    font-family: exo2 !important;
  }
}
.text-h3-large,
h3 {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h3-large--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h3-large--mobile {
    font-family: exo2 !important;
  }
}
.text-h3-medium {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h3-medium--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h3-medium--mobile {
    font-family: exo2 !important;
  }
}
.text-h3-small {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h3-small--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h3-small--mobile {
    font-family: exo2 !important;
  }
}
.text-h4-extralarge {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h4-extralarge--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h4-extralarge--mobile {
    font-family: exo2 !important;
  }
}
.h4 {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .h4--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .h4--mobile {
    font-family: exo2 !important;
  }
}
.text-h4-medium {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h4-medium--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h4-medium--mobile {
    font-family: exo2 !important;
  }
}
.text-h4-small {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h4-small--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h4-small--mobile {
    font-family: exo2 !important;
  }
}
.text-h5-extralarge {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h5-extralarge--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h5-extralarge--mobile {
    font-family: exo2 !important;
  }
}
.text-h5-large,
h5,
h6 {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h5-large--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h5-large--mobile {
    font-family: exo2 !important;
  }
}
.text-h5-medium {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h5-medium--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h5-medium--mobile {
    font-family: exo2 !important;
  }
}
.text-h5-small {
  font-family: exo2 !important;
}
@media (max-width: 1024px) {
  .text-h5-small--tablet {
    font-family: exo2 !important;
  }
}
@media (max-width: 768px) {
  .text-h5-small--mobile {
    font-family: exo2 !important;
  }
}
.text-extra-large {
  font-family: exo2 !important;
  font-size: 20px !important;
  line-height: 28.0px !important;
}
@media (max-width: 1024px) {
  .text-extra-large--tablet {
    font-family: exo2 !important;
    font-size: 20px !important;
    line-height: 28.0px !important;
  }
}
@media (max-width: 768px) {
  .text-extra-large--mobile {
    font-family: exo2 !important;
    font-size: 20px !important;
    line-height: 28.0px !important;
  }
}
.text-large {
  font-family: exo2 !important;
  font-size: 18px !important;
  line-height: 22.0px !important;
}
@media (max-width: 1024px) {
  .text-large--tablet {
    font-family: exo2 !important;
    font-size: 18px !important;
    line-height: 22.0px !important;
  }
}
@media (max-width: 768px) {
  .text-large--mobile {
    font-family: exo2 !important;
    font-size: 18px !important;
    line-height: 22.0px !important;
  }
}
.text-medium,
body {
  font-family: exo2 !important;
  font-size: 16px !important;
  line-height: 22.0px !important;
}
@media (max-width: 1024px) {
  .text-medium--tablet {
    font-family: exo2 !important;
    font-size: 16px !important;
    line-height: 22.0px !important;
  }
}
@media (max-width: 768px) {
  .text-medium--mobile {
    font-family: exo2 !important;
    font-size: 16px !important;
    line-height: 22.0px !important;
  }
}
.text-small {
  font-family: exo2 !important;
  font-size: 14px !important;
  line-height: 20.0px !important;
}
@media (max-width: 1024px) {
  .text-small--tablet {
    font-family: exo2 !important;
    font-size: 14px !important;
    line-height: 20.0px !important;
  }
}
@media (max-width: 768px) {
  .text-small--mobile {
    font-family: exo2 !important;
    font-size: 14px !important;
    line-height: 20.0px !important;
  }
}
.text-large-bold {
  font-family: exo2 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 26.0px !important;
  text-decoration: none !important;
}
@media (max-width: 1024px) {
  .text-large-bold--tablet {
    font-family: exo2 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 26.0px !important;
    text-decoration: none !important;
  }
}
@media (max-width: 768px) {
  .text-large-bold--mobile {
    font-family: exo2 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 26.0px !important;
    text-decoration: none !important;
  }
}
.text-large-underline {
  font-family: exo2 !important;
  font-size: 18px !important;
  line-height: 26.0px !important;
  text-decoration: underline !important;
}
@media (max-width: 1024px) {
  .text-large-underline--tablet {
    font-family: exo2 !important;
    font-size: 18px !important;
    line-height: 26.0px !important;
    text-decoration: underline !important;
  }
}
@media (max-width: 768px) {
  .text-large-underline--mobile {
    font-family: exo2 !important;
    font-size: 18px !important;
    line-height: 26.0px !important;
    text-decoration: underline !important;
  }
}
.text-medium-bold {
  font-family: exo2 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 22.0px !important;
}
@media (max-width: 1024px) {
  .text-medium-bold--tablet {
    font-family: exo2 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 22.0px !important;
  }
}
@media (max-width: 768px) {
  .text-medium-bold--mobile {
    font-family: exo2 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 22.0px !important;
  }
}
.text-medium-underline {
  font-family: exo2 !important;
  font-size: 16px !important;
  line-height: 22.0px !important;
  text-decoration: underline !important;
}
@media (max-width: 1024px) {
  .text-medium-underline--tablet {
    font-family: exo2 !important;
    font-size: 16px !important;
    line-height: 22.0px !important;
    text-decoration: underline !important;
  }
}
@media (max-width: 768px) {
  .text-medium-underline--mobile {
    font-family: exo2 !important;
    font-size: 16px !important;
    line-height: 22.0px !important;
    text-decoration: underline !important;
  }
}
.text-links,
a:not([class]) {
  font-family: exo2 !important;
  text-decoration: underline !important;
  color: var(--buttons-primary_bg);
}
@media (max-width: 1024px) {
  .text-links--tablet {
    font-family: exo2 !important;
    text-decoration: underline !important;
    color: var(--buttons-primary_bg);
  }
}
@media (max-width: 768px) {
  .text-links--mobile {
    font-family: exo2 !important;
    text-decoration: underline !important;
    color: var(--buttons-primary_bg);
  }
}
.text-links-hover,
a:not([class]):hover {
  font-family: exo2 !important;
  text-decoration: underline !important;
  color: var(--buttons-primary_bg);
}
@media (max-width: 1024px) {
  .text-links-hover--tablet {
    font-family: exo2 !important;
    text-decoration: underline !important;
    color: var(--buttons-primary_bg);
  }
}
@media (max-width: 768px) {
  .text-links-hover--mobile {
    font-family: exo2 !important;
    text-decoration: underline !important;
    color: var(--buttons-primary_bg);
  }
}
.text-legal-text {
  font-family: open_sans !important;
  font-size: 14px !important;
  line-height: 20.0px !important;
}
@media (max-width: 1024px) {
  .text-legal-text--tablet {
    font-family: open_sans !important;
    font-size: 14px !important;
    line-height: 20.0px !important;
  }
}
@media (max-width: 768px) {
  .text-legal-text--mobile {
    font-family: open_sans !important;
    font-size: 14px !important;
    line-height: 20.0px !important;
  }
}
.text-h1-pretitle {
  font-family: open_sans !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 28.0px !important;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .text-h1-pretitle--tablet {
    font-family: open_sans !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 28.0px !important;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .text-h1-pretitle--mobile {
    font-family: open_sans !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 28.0px !important;
    text-transform: uppercase;
  }
}
.acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--buttons-primary_bg);
  color: var(--neutral-bglight);
  border-radius: 8px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}
.acc-button--link:hover {
  background-color: var(--buttons-primary_bghover);
}
.secondary .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--complementary-transparent);
  color: var(--buttons-primary_bg);
  border-radius: 8px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}
.secondary .acc-button--link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: var(--buttons-primary_bg);
  border-right-color: var(--buttons-primary_bg);
  border-bottom-color: var(--buttons-primary_bg);
  border-left-color: var(--buttons-primary_bg);
}
.secondary .acc-button--link:hover {
  color: var(--buttons-primary_bghover);
  background-color: var(--complementary-transparent);
}
.text .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--complementary-transparent);
  color: var(--buttons-primary_bg);
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}
.text .acc-button--link:hover {
  color: var(--buttons-primary_bghover);
  background-color: var(--complementary-transparent);
}
.primary-medium .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--buttons-primary_bg);
  color: var(--neutral-bglight);
  border-radius: 8px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.primary-medium .acc-button--link:hover {
  background-color: var(--buttons-primary_bghover);
}
.secondary-medium .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--complementary-transparent);
  color: var(--buttons-primary_bg);
  border-radius: 8px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.secondary-medium .acc-button--link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: var(--buttons-primary_bg);
  border-right-color: var(--buttons-primary_bg);
  border-bottom-color: var(--buttons-primary_bg);
  border-left-color: var(--buttons-primary_bg);
}
.secondary-medium .acc-button--link:hover {
  color: var(--buttons-primary_bghover);
  background-color: var(--complementary-transparent);
}
.text-medium .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: var(--complementary-transparent);
  color: var(--buttons-primary_bg);
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.text-medium .acc-button--link:hover {
  color: var(--buttons-primary_bghover);
  background-color: var(--complementary-transparent);
}

/* stylelint-enable */